@font-face {
    font-family: Font1;
    src: url(font/LEMONMILK-Medium.otf);
}
@font-face {
    font-family: Font2;
    src: url(font/MADE\ TOMMY\ Light_PERSONAL\ USE.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: #f8f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
}

.navbar .logo {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: Font2;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
}

.navbar .nav-links a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Font2;
}

.navbar .nav-links img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 16px;
}

.profilnaslika {
    width: 40px;
    border-radius: 50%;
}

.main {
    margin: 0 auto; 
    width: 70%;
    padding-top: 4%; 
}

.DisplayPredmetov {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(252px, 1fr));
    justify-content: center;
    border-radius: 5px;
}

.besedilo {
    font-family: Font2;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 2%;
    margin-top: 1.5%;
    margin-bottom: 10px;
    padding-left: 10px;
}

.card {
    width: 252px;
    height: 265px;
    background: white;
    border-radius: 5px;
    border: solid #dedfde 1px;
    transition: 0.2s ease-in-out;
    margin: 15px;
}

.card:hover {
    cursor: pointer;
    border-color: rgb(134, 130, 130);
}

.img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(to right bottom, #22afa8, #9f53b6);
}

.text {
    margin: 7%;
}

.naslov {
    font-weight: bold;
    margin-bottom: 3%;
    font-size: 18px;
    font-family: Font2;
}

.ucitelj {
    color: rgb(107, 103, 103);
    font-family: Font2;
    font-size: 16px;
}

.DisplayPredmetov {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(252px, 1fr));
    justify-content: center;
    border-radius: 5px;
}

.naloge {
    margin: 3% auto;
    background-color: white;
    border: solid #dedfde 1px;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.PrikazNaloge {
    width: 100%;
    background-color: white;
    margin: 10px 0;
    border-radius: 5px;
    font-family: Font2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: solid #dedfde 1px;
    align-items: center;
    cursor: pointer;
    height: auto;
    transition: 0.2s ease-in-out;
}

.PrikazNaloge:hover{
    border-color: rgb(134, 130, 130);
}

.PodatkiPredmetu{
    background-color: white;
    font-family: Font2;
    border: solid #dedfde 1px;
    margin-top: 5%;
    margin-left: 2.5%;
    margin-right: 22.5%;
    width: 60%;
}

.ImeInfo {
    font-family: Font1;
    font-size: 20px;
}

.InfoBesedilo {
    margin: 20px;
}

.InfoText {
    margin-bottom: 15px;
    font-size: 18px;
}

.NalogePredmeta {
    margin: 2.5%;
    background-color: white;
    border: solid #dedfde 1px;
    width: 95%;
}

.collapsible {
    background-color:white;
    border: solid #dedfde 1px;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 18px;
    margin-top: 20px;
    font-family: Font2;
    font-weight: bold;
}

.content {
    color: black;
    font-family: Font2;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: white;
    border: solid #dedfde 1px;
    font-size: 18px;
    font-weight: bold;
}

.TaskSlika {
    width: 30px;
}

.task-align {
    display: flex;
    align-items: center;
}

.DodatenInfo {
    margin: 20px;
    display: grid;
    grid-template-columns: 20% 20% auto;
}
.RegistrationData{
    font-family: Font2;
    background-color: white;
    border: solid #dedfde 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.input{
    background-color: white;
    border: solid #dedfde 1px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
}
.submitbutton{
    font-family: Font2;
    font-weight: bold;
    background-color: #318CE7;
    color: white;
    border: solid #dedfde 1px;
    height: 40px;
    width: 100%; 
    border-radius: 5px;
    margin-top: 2%;
    font-size: 15px;
    transition: all 0.1s;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.createracun{
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;

}
.submitbutton:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
#login{
    display: none;
    
}

.PrikazPodatkov{
    margin-top: 10px;
}
.oddajaNaslov{
    font-family: Font1;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.oddajaMain{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: solid #dedfde 1px;
    width: 70%;

}
.OddajaNavodila{
    margin-left: 20px;
    margin-top: 10px;
    font-family: font2;
    font-size: 18px;
}
.oddajaNaslovNavodila{
    font-family: font2;
    font-size: 20px ;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
}
.OddajaPodatki{
    font-family: font2;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
}
.ucitelji{
    background-color: white;
    width: 90%;
    margin: 5%;
    border: solid #dedfde 1px;
    border-radius: 5px ;
}
.UciteljiText{
    font-family: font1;
    font-size: 18px;
    margin: 10px;
}
.UciteljName{
    font-family: font2;
    font-weight: bold;
    font-size: 22px;
    margin-left: 20px ;
    transition: all 0.2s;
    margin-top: 15px;
    margin-bottom: 15px;
}
.linkName{
    color: black;
    text-decoration: none;
    transition: all 0.2s;
}
.linkName:hover{
    color:#1967b4;
}
.NiUCiteljev{
    margin:20px;
    font-family:font2;
    font-size:20px;
}
.uciteljDisplay {
    margin-top: 2%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
    border: solid #dedfde 1px;
    border-radius: 5px ;    
    width: 90% ;
}

.createimg {
    width: 85px;
}

.predmetCreate {
    font-family: 'font2';
    font-size: 18px;
}

.create {
    background-color: white;
    border: solid #dedfde 1px;
    border-radius: 5px;
    width: 60%;
    height: 150px;
    text-align: center;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create:hover {
    cursor: pointer;
    border-color: rgb(134, 130, 130);
    border-width: 2px;
    border-style: solid;
}

.dodajnalogo{
        font-family: Font2;
      
       
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
}
.input1{
    background-color: white;
    border: solid #dedfde 1px;
    width: 800px;
    height: 60px;
    border-radius: 5px;
    margin-top: 10px;
}

@media (max-width: 1200px) {
    .DisplayPredmetov {
        grid-template-columns: repeat(3, 1fr);
    }

    .PodatkiPredmetu, .NalogePredmeta {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        
    }
}
@media (max-width: 1200px) {
    .dodajnalogo {
        width: 70%; 
    }
}

@media (max-width: 900px) {
    .dodajnalogo {
        width: 80%;
    }

    
    .input1 {
        height: 50px; 
    }
    
    
    .submitbutton {
        width: 100%; 
    }
}


@media (max-width: 600px) {
    .dodajnalogo {
        width: 90%;
        padding: 10px;
    }

  
    .input1 {
        width: 100%;
        height: 50px;
    }

   
    .submitbutton {
        width: 100%;
    }
}
@media (max-width: 900px) {
    .DisplayPredmetov {
        grid-template-columns: repeat(2, 1fr);
    }

    .main {
        width: 85%;
    }

    .naloge, .Predmeti {
        width: 85%;
    }


}

@media (max-width: 600px) {
    .DisplayPredmetov {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
    }

    .PrikazNaloge {
        grid-template-columns: 1fr;
    }

    .naloge {
        width: 95%;
    }

    .besedilo {
        font-size: 1rem;
    }

   


    .PodatkiPredmetu, .NalogePredmeta {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .InfoBesedilo, .DodatenInfo {
        grid-template-columns: 1fr;
    }
}
/*----------------------ZACETNA STRAN---------------------------*/
.mainZ {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-right: 50%;
    margin-left: 0;
}
.naslovMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.cardZ {
    width: 232px;
    height: 305px;
    background: white;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
    margin: 15px;
}

.cardZ:hover {
    cursor: pointer;
    border-color: rgb(134, 130, 130);
    border-style: solid, 2px;
    transform: scale(1.05,1.05);
    z-index: 1;
    
}
.imgZ {
    width: 100%;
    height: 72%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.textZ {
    margin: 7%;
    text-align: center;
}
/*-----------------Footer---------------*/
footer{
    background: #d9e3ee;
    padding-top: 50px;
    font-family: Font2;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content{
    width: 190px;
    margin: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list{
    padding: 0%;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top:100%;
    width: 0;
    height: 2px;
    background: orange;
    transition-duration: .5;

}
.list li:hover::before{
    width: 70px;
}
a{
    text-decoration: none;
}
a:hover{
    color:blue;
}
.bottom-bar{
    background: #22afa8;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #9f53b6;
    margin: 0%;
    font-size: 16px;
    padding: 7px;
}

/*----------------------PROFILE-----------------------------*/
.profile-main{
    width: 30vw;
    border: rgb(177, 176, 176) 1px solid;
    border-radius: 30px;

    margin-left: 35vw;
    margin-top: 15vh;
    display: grid;
    grid-template-columns: auto;
}

.profile-data{
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 50%;
}

.profile-data-title{
    text-align: right;

    font-weight: 500;
}

.profile-data-info{
    text-align: left;
    padding-left: 0.5vw;
}

.profile-data-button{
    background-color: #318CE7;
    color: white;
    border-radius: 5px;
    border: black 2px solid;

    padding: 3% 5%;
    margin-right: 1vw;
    transition: all 0.5s ease-in;
    cursor: pointer;
}

/*----------------------CHECK-----------------------------*/
.check-box{
    margin-left: 40%;
    margin-top: 20vh;
    width: 30vh;

    background-color: blue;
}

.check-main{
    display: grid;
    grid-template-columns: auto;
}

.check-main > *{

}

.check-button{
    background-color: #318CE7;
    color: white;
    border-radius: 5px;
    border: black 2px solid;
 
    transition: all 0.5s ease-in;
    cursor: pointer;
}